@using Model.Entities
@model IEnumerable<User>

@{
    ViewBag.Title = "UsersList";
}

@foreach (var user in Model)
{
    <div>
        <h3>@user.FirstName</h3>
        <h3>@user.LastName</h3>
        <h3>@user.UserType</h3>
    </div>
}

