<div class="row" style="color: white; text-align: center;">
    <div class="col-md-4">
        <div class="panel-blur">
            <div class="panel-heading">My visit</div>
            <div class="panel-body">
                <div class="row" ng-repeat="visit in vm.initData.allVisits">
                    <single-visit visit="visit"></single-visit>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-blur">
            <div class="panel-heading">Confirmed visits</div>
            <div class="panel-body">
                <div class="row" ng-repeat="visit in vm.initData.confirmedVisits">
                    <single-visit visit="visit"></single-visit>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel-blur">
            <div class="panel-heading">Next visit</div>
            <div class="panel-body">
                <div class="row" ng-repeat="visit in vm.initData.nestVisit">
                    <div class="panel-primary">
                        <single-visit visit="visit"></single-visit>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="well well-lg">
    {{ vm.initData.data.Visits }}
</div>