<div class="row">
    <div class="col-md-12">
        <div ba-panel-class="with-scroll">
            <tables-page doctors-data="vm.initData.data"></tables-page>
        </div>
    </div>

    <div class="col-md-6">
        <h2>Select doctor</h2>
        <select-picker-panel select-doctors="vm.selectDoctors(item)"></select-picker-panel>

        <div class="col-md-6">
            <div class="row">
                <button ng-click="vm.bookingVisit()" class="btn  btn-booking-visit">Booking visit</button>
            </div>
            <div class="row">
                <button ng-click="vm.sendMessage()" class="btn btn-email">Send email</button>
            </div>
        </div>
        <div class="col-md-6">
            <h2 class="text-danger" ng-show="vm.displayErrorMessages">
                {{vm.errorMessagesAvaliableActions}}
            </h2>
        </div>
    </div>
</div>